<!DOCTYPE html>
<html>
<title>Shutter Releaser Studio</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1 {font-family: "Raleway", Arial, sans-serif}
h1 {letter-spacing: 6px}
.w3-row-padding img {margin-bottom: 12px}
</style>
<body>
	
<div class="w3-top">
   <div class="w3-bar w3-white">
   <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large " href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
     <a href="#home" class="w3-bar-item w3-button w3-hide-small">Home</a>
     <a href="#port" class="w3-bar-item w3-button w3-hide-small w3-light-grey">Portfolio</a>
     <a href="#contact" class="w3-bar-item w3-button w3-hide-small">Contact</a>
     <a href="{{ url_for('album') }}" class="w3-bar-item w3-button w3-hide-small">Album</a>
     <a href="https://www.flickr.com/photos/157847950@N05" target="_blank" class="w3-bar-item w3-button w3-hide-small">Learn more</a>
   </div>

  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#home" class="w3-bar-item w3-button w3-padding-large">Home</a>
    <a href="#port" class="w3-bar-item w3-button w3-padding-large">Portfolio</a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large">Contact</a>
    <a href="{{ url_for('album') }}" class="w3-bar-item w3-button w3-padding-large">Album</a>
    <a href="https://www.flickr.com/photos/157847950@N05" target="_blank" class="w3-bar-item w3-button w3-padding-large">Learn more</a>
  </div>
</div>

<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px">

<!-- Header -->
<header class="w3-panel w3-center w3-opacity" style="padding:128px 16px" id="home">
  <h1 class="w3-xlarge">PHOTOGRAPHER</h1>
  <h1 class="w3-xlarge">RETOUCHER</h1>
  <h1>Dheerapat Tookkane</h1>
</header>

<!-- Photo Grid -->
<div class="w3-row-padding" style="margin-bottom:128px" id="port">
  <div class="w3-half">
		{% for img in imgrand %}
		<img src="static/{{img}}" alt="{{imgL}}" style="width:100%">
		{% endfor %}
  </div>

  <div class="w3-half">
		{% for right in rightrand %}
		<img src="static/{{right}}" alt="{{imgR}}" style="width:100%">
		{% endfor %}
  </div>
</div>

<!-- End Page Content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-light-grey w3-center w3-large" id="contact"> 
  <p>Contact me via</p>
  <a href="https://www.facebook.com/shutter.releaser/"><i class="fa fa-facebook-official w3-hover-opacity w3-xxlarge"></i></a>
  <a href="https://www.instagram.com/dpt_tkn/"><i class="fa fa-instagram w3-hover-opacity w3-xxlarge"></i></a>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank" class="w3-hover-text-green">w3.css</a> <a href="https://flask.palletsprojects.com/" target="_blank" class="w3-hover-text-green">flask</a></p>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>
