{% extends "base.html" %}

{% block content %}
<!-- Header -->
<header class="w3-panel w3-center w3-opacity" style="padding:128px 16px">
  <h1>About Me</h1>
  <h3>Things I can do in photography.</h3>
</header>

<!-- Photo Grid -->
<div class="w3-row-padding" style="margin-bottom:128px">
  <div class="w3-half">
	  <h3 class="w3-center w3-opacity">Environment Retouching</h3>
	  <img src="static/learn/kaew.gif" alt="kaew" style="width:100%">
  </div>

  <div class="w3-half">
	  <h3 class="w3-center w3-opacity">Color Grading</h3>
	  <img src="static/learn/nuna.gif" alt="nuna" style="width:100%">
  </div>
</div>
{% endblock %}
