{% extends "base.html" %}

{% block content %}
<!-- Header -->
<header class="w3-panel w3-center w3-opacity" style="padding:128px 16px">
  <h1>About Me</h1>
  <h3>Things I can do in photography.</h3>
</header>

<!-- Photo Grid -->
<div class="w3-row-padding" style="margin-bottom:128px" >
  <div class="w3-half">
    <h3 class="w3-center w3-opacity">Environment Retouching</h3>
      <div class="w3-content w3-display-container">
        <iframe frameborder="0" class="juxtapose" width="100%" height="1000px" src="https://cdn.knightlab.com/libs/juxtapose/latest/embed/index.html?uid=ef98de82-5abb-11ea-b9b8-0edaf8f81e27"></iframe>
      </div>
  </div>

  <div class="w3-half">
    <h3 class="w3-center w3-opacity">Color Grading</h3>
      <div class="w3-content w3-display-container">
        <iframe frameborder="0" class="juxtapose" width="100%" height="1000px" src="https://cdn.knightlab.com/libs/juxtapose/latest/embed/index.html?uid=2e929d02-5abd-11ea-b9b8-0edaf8f81e27"></iframe>
      </div>
  </div>
</div>
{% endblock %}
